/* Minimal subset of driver.js CSS */
.driver-popover {
  all: unset;
  box-sizing: border-box;
  color: #2d2d2d;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 1px 10px #0006;
  z-index: 1000000000;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}
.driver-fade .driver-popover {
  animation: animate-fade-in 0.2s;
}

.driver-fade .driver-overlay {
  animation: animate-fade-in 0.2sease-in-out;
}

.driver-active .driver-overlay,
.driver-active * {
  pointer-events: none;
}

.driver-popover-arrow-side-top.driver-popover-arrow-align-start,
.driver-popover-arrow-side-bottom.driver-popover-arrow-align-start {
  left: 15px;
}

.driver-active .driver-active-element,
.driver-active .driver-active-element *,
.driver-popover,
.driver-popover * {
  pointer-events: auto;
}
.driver-popover-arrow {
  content: "";
  position: absolute;
  border: 5px solid #fff;
}
.driver-popover-arrow-side-bottom {
  bottom: 100%;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

/* Custom */
.driver-popover-close-btn {
  top: 0;
  right: -8px;
  position: absolute;
  z-index: 1;
  outline: none !important;
}

.driver-popover footer {
  background: unset;
  min-block-size: unset;
  padding: unset;
  flex-direction: row;
}

.driver-popover footer > .driver-popover-progress-text {
  white-space: nowrap;
  align-items: center;
  margin-top: 16px;
  margin-right: 4px;
  font-size: small;
}

.driver-popover footer > nav {
  gap: 4px;
}
