{
  "extends": [
    "@eox",
    "plugin:cypress/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["**/dist/*", "**/public/*"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["cypress", "@typescript-eslint"],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
