:root,
:host {
  --eox-spacing: 1rem;
  --eox-block-spacing-vertical: calc(var(--eox-spacing) * 2);
  --eox-block-spacing-horizontal: var(--eox-spacing);

  --eox-background-color: var(--background-color, white);
  --eox-color: var(--color, #2c3d49);
  --eox-h-color: var(--h-color, var(--eox-color));

  --eox-hover-transparency: var(--hover-transparency, 20%);
  --eox-bg-hover-transparency: var(--bg-hover-transparency, 40%);
  --eox-btn-hover-transparency: var(--btn-hover-transparency, 80%);

  --eox-primary-color: var(--primary-color, #004170);
  --eox-primary-color-hover: color-mix(
    in srgb,
    var(--eox-primary-color) var(--eox-hover-transparency),
    transparent
  );
  --eox-primary-bg-color-hover: color-mix(
    in srgb,
    var(--eox-primary-color) var(--eox-bg-hover-transparency),
    transparent
  );
  --eox-primary-btn-color-hover: color-mix(
    in srgb,
    var(--eox-primary-color) var(--eox-btn-hover-transparency),
    transparent
  );

  --eox-secondary-color: var(--secondary-color, #c6d4df);
  --eox-secondary-color-hover: color-mix(
    in srgb,
    var(--eox-secondary-color) var(--eox-hover-transparency),
    transparent
  );
  --eox-secondary-bg-color-hover: color-mix(
    in srgb,
    var(--eox-secondary-color) var(--eox-bg-hover-transparency),
    transparent
  );
  --eox-secondary-btn-color-hover: color-mix(
    in srgb,
    var(--eox-secondary-color) var(--eox-btn-hover-transparency),
    transparent
  );

  --eox-success: var(--success, #26cc0f);
  --eox-warning: var(--warning, #f18e32);
  --eox-error: var(--error, #ff5252);
  --eox-header-font-family: var(--header-font-family, "Roboto", sans-serif);
  --eox-body-font-family: var(--body-font-family, "Roboto", sans-serif);
}
* {
  font-family: var(--eox-body-font-family);
  color: var(--color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--eox-header-font-family);
}
span,
p,
div,
main,
label {
  font-family: var(--eox-body-font-family);
}
@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
    --eox-block-spacing-vertical: calc(var(--eox-spacing) * 2.5);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
    --eox-block-spacing-vertical: calc(var(--eox-spacing) * 3);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 920px;
    --eox-block-spacing-vertical: calc(var(--eox-spacing) * 3.5);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
    --eox-block-spacing-vertical: calc(var(--eox-spacing) * 4);
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: var(--eox-block-spacing-vertical) var(--eox-block-spacing-horizontal);
}
h1,
h2,
h3 {
  line-height: 120%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
p {
  font-weight: 400;
  line-height: 170%;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
}
body {
  padding: 0;
  margin: 0;
}
.sb-show-main.sb-main-padded {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  --eox-font-weight: 700;
}
h1 {
  --eox-font-size: 3rem;
  --eox-typography-spacing-vertical: 0.5rem;
}
h2 {
  --eox-font-size: 2rem;
  --eox-typography-spacing-vertical: 0.5rem;
}
h3 {
  --eox-font-size: 1.75rem;
  --eox-typography-spacing-vertical: 0.5rem;
}
h4 {
  --eox-font-size: 1.5rem;
  --eox-typography-spacing-vertical: 0.5rem;
}
h5 {
  --eox-font-size: 1.25rem;
  --eox-typography-spacing-vertical: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--eox-typography-spacing-vertical);
  color: var(--eox-h-color);
  font-weight: var(--eox-font-weight);
  font-size: var(--eox-font-size);
  font-family: var(--eox-header-font-family);
}
